.xdevl-code-button
{
	display: inline-block ;
	width: 1em ;
	height: 1em ;
	background: url("icon.png") ;
	background-size: 100% 100% ;
	vertical-align: text-top ;
	margin: 0.1em 0.4em 0.1em 0;
}

#xdevl_codesnippet
{
	position: absolute ;
	top: 1rem ;
	left:1rem ;
	bottom:1rem ;
	right:1rem ;
}

#xdevl_codesnippet .wrapper
{
	width: 100% ;
	height: 100% ;
	display: table ;
}

#xdevl_codesnippet .header
{
	display: table-row ;
}

#xdevl_codesnippet .field
{
	margin: 0.5rem ;
	display: inline-block ;
}

#xdevl_codesnippet label
{
	font-weight: bold ;
	margin-right: 0.2rem ;
}

#xdevl_codesnippet .editor
{
	display: table-row ;
	height: 100% ;
}

#xdevl_codesnippet_editor
{
	width: 100% ;
	height: 100% ;
}
